.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input {
  margin: 8px;
}

.Button {
  background-color: #7f82b3;
  color: white;
  font-size: 16px;
  margin: 24px;
  width: 100px;
  padding: 8px;
}

.Text {
  color: white;
  font-size: 12pt;
}
